<div align="center"><img src="https://www.muycomputerpro.com/wp-content/uploads/2018/02/Machine-learning-in-cyber-security-770x476.jpg"></div>

<h1>Price History<span class="tocSkip"></span></h1>

In this jupyter I am going to clean up a DataFrame that allows us to make the machine learning model in order to see if the price of the desired house is in line with the market price.

This model is made thanks to a database downloaded from [Kaggle](https://www.kaggle.com/mirbektoktogaraev/madrid-real-estate-market) in which there are more than 21,000 houses in Madrid. This will allow me to predict the future price of a property.

# Import libraries

In [1]:
import src.limpieza as lm
import pandas as pd
import numpy as np
import re

# Import DataFrame

## Download data from [Kaggle](https://www.kaggle.com/mirbektoktogaraev/madrid-real-estate-market)

In [2]:
#lm.download_kaggle()

## Open `.csv` file

In [3]:
data =pd.read_csv("data/houses_Madrid.csv")

In [4]:
data.head()

,Unnamed: 0,id,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,...,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,...,D,False,NaN,NaN,NaN,NaN,False,True,False,False
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,NaN,NaN,...,no indicado,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,NaN,2,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,False,False,True,False
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,90.0,2,2.0,NaN,NaN,...,en trámite,True,NaN,NaN,True,0.0,True,True,True,True

## Dimension

In [5]:
data.shape

(21742, 58)

In [6]:
data.shape

(21742, 58)

## Null values

Let´s check it out how many null values are there in each column in order to see wich columns are useful.

In [7]:
data.isnull().sum()

Unnamed: 0                          0
id                                  0
title                               0
subtitle                            0
sq_mt_built                       126
sq_mt_useful                    13514
n_rooms                             0
n_bathrooms                        16
n_floors                        20305
sq_mt_allotment                 20310
latitude                        21742
longitude                       21742
raw_address                      5465
is_exact_address_hidden             0
street_name                      5905
street_number                   15442
portal                          21742
floor                            2607
is_floor_under                   1170
door                            21742
neighborhood_id                     0
operation                           0
rent_price                          0
rent_price_by_area              21742
is_rent_price_known                 0
buy_price                           0
buy_price_by_area                   0
is_buy_price_known                  0
house_type_id                     391
is_renewal_needed                   0
is_new_development                992
built_year                      11742
has_central_heating              8134
has_individual_heating           8134
are_pets_allowed                21742
has_ac                          10531
has_fitted_wardrobes             8343
has_lift                         2386
is_exterior                      3043
has_garden                      20186
has_pool                        16571
has_terrace                     12194
has_balcony                     18421
has_storage_room                14044
is_furnished                    21742
is_kitchen_equipped             21742
is_accessible                   17668
has_green_zones                 17685
energy_certificate                  0
has_parking                         0
has_private_parking             21742
has_public_parking              21742
is_parking_included_in_price    14023
parking_price                   14023
is_orientation_north            10384
is_orientation_west             10384
is_orientation_south            10384
is_orientation_east             10384
dtype: int64

In [8]:
data.house_type_id.value_counts()

HouseType 1: Pisos            17705
HouseType 2: Casa o chalet     1938
HouseType 5: Áticos            1032
HouseType 4: Dúplex             676
Name: house_type_id, dtype: int64

## Delete not useful columns

Despite deleting not useful columns, I am going to select wich columns are useful. It´s quicker!

In [9]:
estas_si = ["id",
           "title",
           "subtitle",
           "sq_mt_built",
           "sq_mt_useful",
           "n_rooms",
           "n_bathrooms",
           "floor",
           "neighborhood_id",
           "rent_price",
           "buy_price",
           "house_type_id",
           "is_new_development",
           "is_renewal_needed",
           "energy_certificate",
           "has_parking",
           "is_exterior",           
           ]

# New DataFrame
Now I have a new dataframe with less columns than the original but still with some null values.

In [10]:
data_limpio = data[estas_si]
data_limpio.to_csv("data/data_limpio.csv")

In [11]:
casas = pd.read_csv("data/data_limpio.csv")

In [12]:
casas.isnull().sum()

Unnamed: 0                0
id                        0
title                     0
subtitle                  0
sq_mt_built             126
sq_mt_useful          13514
n_rooms                   0
n_bathrooms              16
floor                  2607
neighborhood_id           0
rent_price                0
buy_price                 0
house_type_id           391
is_new_development      992
is_renewal_needed         0
energy_certificate        0
has_parking               0
is_exterior            3043
dtype: int64

##  Fixing null values
Now I am going to fill in the unknown values of useful $m^2$, because there are `13.514` null values for this column but it is a value that we can 'predict'. To do this I am going to find out what average percentage of $m^2$ is the usable area with respect to the constructed area.

This factor should vary depending on the thickness of the walls, the existence of terraces or partitions. It is up to the technician to define this value, which is usually between 0.90 and 0.80. So a correct value would be in this range.

`I do this process even though I know that I might delete the useful square metres column at a later stage due to the high correlation with the built square metres column.`

In [13]:
casas["useful/built"] = round(casas["sq_mt_useful"] / casas["sq_mt_built"],2)
porc_ub = casas["useful/built"].mean().round(2)
porc_ub

0.85

The average ratio between these columns in the DataFrame is `0.85%`, so it is within the expected range.

In [14]:
casas["sq_mt_useful"].fillna(round(casas["sq_mt_built"]*porc_ub,2), inplace=True)

In [15]:
casas["sq_mt_built"].fillna(round(casas["sq_mt_useful"]/porc_ub,2), inplace=True)

In [16]:
casas.drop(["useful/built"], axis=1, inplace=True)

## Is exterior?
To try to fill in the values of the `is_exterior` column what we are going to do is to look at the `house_type_id`, we cannot know if a flat or a duplex are interior or exterior, but we can say that a villa and a penthouse are.

In [17]:
casas.house_type_id.value_counts()

HouseType 1: Pisos            17705
HouseType 2: Casa o chalet     1938
HouseType 5: Áticos            1032
HouseType 4: Dúplex             676
Name: house_type_id, dtype: int64

In [18]:
casas.is_exterior.value_counts()

True     16922
False     1777
Name: is_exterior, dtype: int64

## Delete negative values

In [19]:
casas = casas[casas["rent_price"]>0]
casas.shape

(19095, 18)

## Categorical to numeric

### Floor

In [20]:
casas.floor.value_counts()

1                       4173
2                       3227
3                       2757
4                       2103
Bajo                    2089
5                       1133
6                        787
7                        491
8                        293
Entreplanta exterior     227
9                        157
Semi-sótano exterior      55
Semi-sótano interior      36
Entreplanta interior      32
Sótano interior           23
Sótano                     5
Sótano exterior            4
Entreplanta                3
Semi-sótano                1
Name: floor, dtype: int64

In [21]:
valores_nuevos = {
    "Bajo" : 0,
    "Entreplanta" : 0.5,
    "Entreplanta exterior" : 0.5,
    "Entreplanta interior" : 0.5,
    "Semi-sótano" : -0.5,
    "Semi-sótano exterior" : -0.5,
    "Semi-sótano interior" : -0.5,
    "Sótano" : -1,
    "Sótano interior" : -1,
    "Sótano exterior" : -1,    
}

In [22]:
for k, v in valores_nuevos.items():
        casas["floor"].replace(k, v, inplace=True)

In [23]:
casas.floor.value_counts()

1       4173
2       3227
3       2757
4       2103
0       2089
5       1133
6        787
7        491
8        293
0.5      262
9        157
-0.5      92
-1        32
Name: floor, dtype: int64

### House type

In [24]:
keys_tipo = list(casas.house_type_id.value_counts().keys())
dicc_tipo = {}
for elem in keys_tipo:
    dicc_tipo[elem] = 0
    
dicc_tipo

{'HouseType 1: Pisos': 0,
 'HouseType 2: Casa o chalet': 0,
 'HouseType 5: Áticos': 0,
 'HouseType 4: Dúplex': 0}

In [25]:
valores_tipo = {
    'HouseType 1: Pisos': 0,
    'HouseType 2: Casa o chalet': 3,
    'HouseType 5: Áticos': 2,
    'HouseType 4: Dúplex': 1
}

In [26]:
casas["tipo"] = casas.house_type_id.map(valores_tipo)

### Neighborhood ID

In [27]:
barrios = list(casas.neighborhood_id.value_counts().keys())

In [28]:
barrios[0]

'Neighborhood 23: Malasaña-Universidad (5196.25 €/m2) - District 4: Centro'

In [29]:
value = re.findall(r"(?<=\()\d+.\d+", barrios[0])
float(value[0])

5196.25

In [30]:
dicc_pm2 = {}
for elem in barrios:
    value = re.findall(r"(?<=\()\d+.\d+", elem)
    try:
        dicc_pm2[elem] = (float(value[0])/1000)
    except:
        dicc_pm2[elem] = 0

In [31]:
dicc_pm2

{'Neighborhood 23: Malasaña-Universidad (5196.25 €/m2) - District 4: Centro': 5.19625,
 'Neighborhood 22: Lavapiés-Embajadores (4448.3 €/m2) - District 4: Centro': 4.448300000000001,
 'Neighborhood 30: Prosperidad (4255.84 €/m2) - District 5: Chamartín': 4.25584,
 'Neighborhood 129: Ensanche de Vallecas - La Gavia (2677.28 €/m2) - District 20: Villa de Vallecas': 2.67728,
 'Neighborhood 39: Pueblo Nuevo (2578.87 €/m2) - District 7: Ciudad Lineal': 2.5788699999999998,
 'Neighborhood 113: Cuatro Caminos (4247.49 €/m2) - District 17: Tetuán': 4.24749,
 'Neighborhood 35: Trafalgar (5640.18 €/m2) - District 6: Chamberí': 5.64018,
 'Neighborhood 89: San Diego (2007.79 €/m2) - District 13: Puente de Vallecas': 2.00779,
 'Neighborhood 72: Aravaca (3600.4 €/m2) - District 11: Moncloa': 3.6004,
 'Neighborhood 31: Bernabéu-Hispanoamérica (5170.22 €/m2) - District 5: Chamartín': 5.1702200000000005,
 'Neighborhood 73: Argüelles (4807.69 €/m2) - District 11: Moncloa': 4.80769,
 'Neighborhood 53: Peñagrande (3271.96 €/m2) - District 8: Fuencarral': 3.27196,
 'Neighborhood 126: El Cañaveral - Los Berrocales (2271.52 €/m2) - District 19: Vicálvaro': 2.2715199999999998,
 'Neighborhood 20: Chueca-Justicia (6029.36 €/m2) - District 4: Centro': 6.02936,
 'Neighborhood 19: San Isidro (2323.93 €/m2) - District 3: Carabanchel': 2.32393,
 'Neighborhood 134: San Andrés (1617.18 €/m2) - District 21: Villaverde': 1.61718,
 'Neighborhood 42: Ventas (2686.93 €/m2) - District 7: Ciudad Lineal': 2.68693,
 'Neighborhood 34: Gaztambide (5000.0 €/m2) - District 6: Chamberí': 5.0,
 'Neighborhood 37: Nuevos Ministerios-Ríos Rosas (5000.0 €/m2) - District 6: Chamberí': 5.0,
 'Neighborhood 18: Vista Alegre (2048.47 €/m2) - District 3: Carabanchel': 2.04847,
 'Neighborhood 90: Numancia (2081.94 €/m2) - District 13: Puente de Vallecas': 2.08194,
 'Neighborhood 24: Palacio (4693.52 €/m2) - District 4: Centro': 4.69352,
 'Neighborhood 115: Valdeacederas (3163.8 €/m2) - District 17: Tetuán': 3.1638,
 'Neighborhood 99: Goya (5887.64 €/m2) - District 15: Salamanca': 5.88764,
 'Neighborhood 111: Bellas Vistas (3536.07 €/m2) - District 17: Tetuán': 3.53607,
 'Neighborhood 17: Puerta Bonita (1980.04 €/m2) - District 3: Carabanchel': 1.98004,
 'Neighborhood 62: Sanchinarro (4456.18 €/m2) - District 9: Hortaleza': 4.456180000000001,
 'Neighborhood 95: Pacífico (4105.12 €/m2) - District 14: Retiro': 4.10512,
 'Neighborhood 33: Arapiles (4869.57 €/m2) - District 6: Chamberí': 4.8695699999999995,
 'Neighborhood 114: Cuzco-Castillejos (4347.59 €/m2) - District 17: Tetuán': 4.34759,
 'Neighborhood 2: Delicias (3972.6 €/m2) - District 1: Arganzuela': 3.9726,
 'Neighborhood 70: Puerta del Ángel (2443.62 €/m2) - District 10: Latina': 2.4436199999999997,
 'Neighborhood 61: Pinar del Rey (2915.33 €/m2) - District 9: Hortaleza': 2.91533,
 'Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas': 1.956,
 'Neighborhood 12: Abrantes (1964.55 €/m2) - District 3: Carabanchel': 1.96455,
 'Neighborhood 28: El Viso (6255.45 €/m2) - District 5: Chamartín': 6.25545,
 'Neighborhood 58: Canillas (3152.53 €/m2) - District 9: Hortaleza': 3.15253,
 'Neighborhood 100: Guindalera (4367.9 €/m2) - District 15: Salamanca': 4.3679,
 'Neighborhood 112: Berruguete (3273.56 €/m2) - District 17: Tetuán': 3.27356,
 'Neighborhood 87: Palomeras sureste (2076.58 €/m2) - District 13: Puente de Vallecas': 2.07658,
 'Neighborhood 5: Acacias (4208.0 €/m2) - District 1: Arganzuela': 4.208,
 'Neighborhood 131: Butarque (2197.8 €/m2) - District 21: Villaverde': 2.1978,
 'Neighborhood 15: Opañel (2235.32 €/m2) - District 3: Carabanchel': 2.23532,
 'Neighborhood 36: Vallehermoso (4548.3 €/m2) - District 6: Chamberí': 4.5483,
 'Neighborhood 32: Almagro (6564.27 €/m2) - District 6: Chamberí': 6.5642700000000005,
 'Neighborhood 86: Palomeras Bajas (1983.7 €/m2) - District 13: Puente de Vallecas': 1.9837,
 'Neighborhood 3: Imperial (4098.59 €/m2) - District 1: Arganzuela': 4.09859,
 'Neighborhood 133: Los Rosales (1827.79 €/m2) - District 21: Villaverde': 1.82779,
 'Neighborhood 93: Ibiza (5492.17 €/m2) - District 14: Retiro': 5.49217,
 'Neighborhood 69: Lucero (2363.25 €/m2) - District 10: Latina': 2.36325,
 'Neighborhood 13: Buena Vista (1886.6 €/m2) - District 3: Carabanchel': 1.8865999999999998,
 'Neighborhood 29: Nueva España (5363.75 €/m2) - District 5: Chamartín': 5.36375,
 'Neighborhood 6: Palos de Moguer (3975.0 €/m2) - District 1: Arganzuela': 3.975,
 'Neighborhood 67: Aluche (2190.48 €/m2) - District 10: Latina': 2.19048,
 'Neighborhood 75: Ciudad Universitaria (3810.08 €/m2) - District 11: Moncloa': 3.81008,
 'Neighborhood 63: Valdebebas - Valdefuentes (3607.13 €/m2) - District 9: Hortaleza': 3.60713,
 'Neighborhood 54: Pilar (3222.22 €/m2) - District 8: Fuencarral': 3.2222199999999996,
 'Neighborhood 117: Almendrales (2205.31 €/m2) - District 18: Usera': 2.20531,
 'Neighborhood 77: Valdezarza (2951.77 €/m2) - District 11: Moncloa': 2.95177,
 'Neighborhood 1: Chopera (3783.78 €/m2) - District 1: Arganzuela': 3.78378,
 'Neighborhood 26: Castilla (4354.35 €/m2) - District 5: Chamartín': 4.35435,
 'Neighborhood 45: Costillares (4235.69 €/m2) - District 7: Ciudad Lineal': 4.23569,
 'Neighborhood 4: Legazpi (4486.93 €/m2) - District 1: Arganzuela': 4.48693,
 'Neighborhood 40: Quintana (2900.58 €/m2) - District 7: Ciudad Lineal': 2.9005799999999997,
 'Neighborhood 51: Las Tablas (4256.38 €/m2) - District 8: Fuencarral': 4.25638,
 'Neighborhood 21: Huertas-Cortes (5000.0 €/m2) - District 4: Centro': 5.0,
 'Neighborhood 118: Moscardó (2284.48 €/m2) - District 18: Usera': 2.28448,
 'Neighborhood 101: Lista (5681.21 €/m2) - District 15: Salamanca': 5.68121,
 'Neighborhood 55: Tres Olivos - Valverde (2648.73 €/m2) - District 8: Fuencarral': 2.64873,
 'Neighborhood 91: Adelfas (4020.62 €/m2) - District 14: Retiro': 4.02062,
 'Neighborhood 38: Concepción (3341.09 €/m2) - District 7: Ciudad Lineal': 3.3410900000000003,
 'Neighborhood 14: Comillas (2527.59 €/m2) - District 3: Carabanchel': 2.52759,
 'Neighborhood 92: Estrella (4246.58 €/m2) - District 14: Retiro': 4.24658,
 'Neighborhood 59: Conde Orgaz-Piovera (4275.46 €/m2) - District 9: Hortaleza': 4.27546,
 'Neighborhood 85: Entrevías (1574.36 €/m2) - District 13: Puente de Vallecas': 1.57436,
 'Neighborhood 25: Sol (5390.99 €/m2) - District 4: Centro': 5.3909899999999995,
 'Neighborhood 50: La Paz (3500.0 €/m2) - District 8: Fuencarral': 3.5,
 'Neighborhood 132: Los Ángeles (1796.68 €/m2) - District 21: Villaverde': 1.79668,
 'Neighborhood 116: Ventilla-Almenara (3314.54 €/m2) - District 17: Tetuán': 3.31454,
 'Neighborhood 60: Palomas (3773.82 €/m2) - District 9: Hortaleza': 3.77382,
 'Neighborhood 121: San Fermín (1912.8 €/m2) - District 18: Usera': 1.9128,
 'Neighborhood 120: Pradolongo (2068.64 €/m2) - District 18: Usera': 2.06864,
 'Neighborhood 41: San Pascual (4015.76 €/m2) - District 7: Ciudad Lineal': 4.01576,
 'Neighborhood 27: Ciudad Jardín (4572.45 €/m2) - District 5: Chamartín': 4.57245,
 'Neighborhood 56: Mirasierra (3695.5 €/m2) - District 8: Fuencarral': 3.6955,
 'Neighborhood 66: Águilas (2110.34 €/m2) - District 10: Latina': 2.1103400000000003,
 'Neighborhood 119: Orcasitas (1931.95 €/m2) - District 18: Usera': 1.93195,
 'Neighborhood 78: Valdemarín (4249.04 €/m2) - District 11: Moncloa': 4.24904,
 'Neighborhood 88: Portazgo (1896.75 €/m2) - District 13: Puente de Vallecas': 1.89675,
 'Neighborhood 124: Ambroz (2094.51 €/m2) - District 19: Vicálvaro': 2.09451,
 'Neighborhood 125: Casco Histórico de Vicálvaro (2064.65 €/m2) - District 19: Vicálvaro': 2.06465,
 'Neighborhood 16: Pau de Carabanchel (3120.54 €/m2) - District 3: Carabanchel': 3.12054,
 'Neighborhood 135: San Cristóbal (1308.89 €/m2) - District 21: Villaverde': 1.30889,
 'Neighborhood 46: San Juan Bautista (4098.7 €/m2) - District 7: Ciudad Lineal': 4.0987,
 'Neighborhood 97: Castellana (6882.35 €/m2) - District 15: Salamanca': 6.882350000000001,
 'Neighborhood 52: Montecarmelo (4610.95 €/m2) - District 8: Fuencarral': 4.61095,
 'Neighborhood 44: Colina (4677.53 €/m2) - District 7: Ciudad Lineal': 4.67753,
 'Neighborhood 82: Marroquina (2928.57 €/m2) - District 12: Moratalaz': 2.92857,
 'Neighborhood 81: Fontarrón (2319.44 €/m2) - District 12: Moratalaz': 2.31944,
 'Neighborhood 74: Casa de Campo (3630.68 €/m2) - District 11: Moncloa': 3.63068,
 'Neighborhood 71: Los Cármenes (2458.61 €/m2) - District 10: Latina': 2.45861,
 'Neighborhood 98: Fuente del Berro (4452.82 €/m2) - District 15: Salamanca': 4.45282,
 'Neighborhood 57: Apóstol Santiago (2679.63 €/m2) - District 9: Hortaleza': 2.67963,
 'Neighborhood 130: Santa Eugenia (2175.93 €/m2) - District 20: Villa de Vallecas': 2.1759299999999997,
 'Neighborhood 122: Zofío (1941.38 €/m2) - District 18: Usera': 1.94138,
 'Neighborhood 94: Jerónimos (6739.32 €/m2) - District 14: Retiro': 6.739319999999999,
 'Neighborhood 68: Campamento (2275.63 €/m2) - District 10: Latina': 2.27563,
 'Neighborhood 96: Niño Jesús (4935.6 €/m2) - District 14: Retiro': 4.9356,
 'Neighborhood 76: El Plantío (2569.96 €/m2) - District 11: Moncloa': 2.56996,
 'Neighborhood 84: Vinateros (2538.1 €/m2) - District 12: Moratalaz': 2.5381,
 'Neighborhood 123: 12 de Octubre-Orcasur (1637.13 €/m2) - District 18: Usera': 1.6371300000000002,
 'Neighborhood 64: Virgen del Cortijo - Manoteras (3636.96 €/m2) - District 9: Hortaleza': 3.63696,
 'Neighborhood 49: Fuentelarreina (3371.55 €/m2) - District 8: Fuencarral': 3.37155,
 'Neighborhood 127: Valdebernardo - Valderribas (2750.0 €/m2) - District 19: Vicálvaro': 2.75,
 'Neighborhood 102: Recoletos (8392.43 €/m2) - District 15: Salamanca': 8.392430000000001,
 'Neighborhood 83: Media Legua (2803.11 €/m2) - District 12: Moratalaz': 2.80311,
 'Neighborhood 43: Atalaya (None €/m2) - District 7: Ciudad Lineal': 0,
 'Neighborhood 48: Arroyo del Fresno (3718.4 €/m2) - District 8: Fuencarral': 3.7184,
 'Neighborhood 79: Pavones (None €/m2) - District 12: Moratalaz': 0,
 'Neighborhood 8: Alameda de Osuna (3113.42 €/m2) - District 2: Barajas': 3.11342,
 'Neighborhood 47: El Pardo (None €/m2) - District 8: Fuencarral': 0,
 'Neighborhood 80: Horcajo (None €/m2) - District 12: Moratalaz': 0,
 'Neighborhood 9: Campo de las Naciones-Corralejos (3417.44 €/m2) - District 2: Barajas': 3.41744,
 'Neighborhood 10: Casco Histórico de Barajas (3100.87 €/m2) - District 2: Barajas': 3.10087,
 'Neighborhood 11: Timón (2879.88 €/m2) - District 2: Barajas': 2.87988,
 'Neighborhood 65: Cuatro Vientos (None €/m2) - District 10: Latina': 0}

In [32]:
casas["barrio_pm2"] = casas.neighborhood_id.map(dicc_pm2)

In [33]:
value_bd = re.findall(r"(?<=\:.)(\w+.\w+)", barrios[0])
value_bd

['Malasaña-Universidad', 'Centro']

In [34]:
barrio = {}
distrito = {}
for elem in barrios:
    value_bd = re.findall(r"(?<=\:.)(\w+.\w+)", elem)
    barrio[elem] = value_bd[0]
    distrito[elem] = value_bd[1]

In [35]:
casas["barrio"] = casas.neighborhood_id.map(barrio)
casas["distr"] = casas.neighborhood_id.map(distrito)

In [36]:
len(casas.barrio.unique())

124

### Energy Certificate
To try to fill in the values of the `is_exterior` column what we are going to do is to look at the `house_type_id`, we cannot know if a flat or a duplex are interior or exterior, but we can say that a villa and a penthouse are.

In [37]:
keys = list(casas.energy_certificate.value_counts().keys())
dicc = {}
for elem in keys:
    dicc[elem] = 0
    
dicc

{'en trámite': 0,
 'no indicado': 0,
 'E': 0,
 'D': 0,
 'G': 0,
 'F': 0,
 'A': 0,
 'C': 0,
 'B': 0,
 'inmueble exento': 0}

In [38]:
valores_cert = {
    'en trámite': 0,
     'no indicado': 0,
     'E': 3,
     'D': 4,
     'G': 1,
     'F': 2,
     'A': 7,
     'C': 5,
     'B': 6,
     'inmueble exento': 0}

In [39]:
casas["e_certificate"] = casas.energy_certificate.map(valores_cert)

In [40]:
casas.head()

,Unnamed: 0,id,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,floor,neighborhood_id,...,is_new_development,is_renewal_needed,energy_certificate,has_parking,is_exterior,tipo,barrio_pm2,barrio,distr,e_certificate
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,3,Neighborhood 135: San Cristóbal (1308.89 €/m2)...,...,False,False,D,False,True,0.0,1.30889,San Cristóbal,Villaverde,4
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,59.5,3,1.0,4,Neighborhood 132: Los Ángeles (1796.68 €/m2) -...,...,False,True,en trámite,False,True,0.0,1.79668,Los Ángeles,Villaverde,0
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,1,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,...,False,False,no indicado,False,True,0.0,1.61718,San Andrés,Villaverde,0
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,54.4,2,1.0,0,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,...,False,False,en trámite,False,True,0.0,1.61718,San Andrés,Villaverde,0
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,90.0,2,2.0,4,Neighborhood 133: Los Rosales (1827.79 €/m2) -...,...,False,False,en trámite,True,True,0.0,1.82779,Los Rosales,Villaverde,0

## Delete rows with null values
Once we have tried to fix the data and we cannot do anything else, we delete those rows that contain null values in any of their columns.

In [41]:
casas.drop(["Unnamed: 0"], axis=1, inplace=True)

In [42]:
casas.shape

(19095, 22)

In [43]:
casas.isnull().sum()

id                       0
title                    0
subtitle                 0
sq_mt_built              0
sq_mt_useful             0
n_rooms                  0
n_bathrooms             14
floor                 1499
neighborhood_id          0
rent_price               0
buy_price                0
house_type_id          388
is_new_development     919
is_renewal_needed        0
energy_certificate       0
has_parking              0
is_exterior           1947
tipo                   388
barrio_pm2               0
barrio                   0
distr                    0
e_certificate            0
dtype: int64

In [44]:
casas_limpio = casas.dropna(axis=0, how="any")
casas_limpio.isnull().sum()

id                    0
title                 0
subtitle              0
sq_mt_built           0
sq_mt_useful          0
n_rooms               0
n_bathrooms           0
floor                 0
neighborhood_id       0
rent_price            0
buy_price             0
house_type_id         0
is_new_development    0
is_renewal_needed     0
energy_certificate    0
has_parking           0
is_exterior           0
tipo                  0
barrio_pm2            0
barrio                0
distr                 0
e_certificate         0
dtype: int64

In [45]:
casas_limpio.shape

(16035, 22)

In [46]:
#casas_limpio.buy_price = casas_limpio.buy_price/100_000

In [47]:
#casas_limpio.buy_price

In [48]:
casas = casas[casas["rent_price"]>0]
casas.shape

(19095, 22)

In [49]:
casas[casas["sq_mt_built"]>160].groupby("barrio").median().tail(50)

,id,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,rent_price,buy_price,is_renewal_needed,has_parking,tipo,barrio_pm2,e_certificate
barrio,,,,,,,,,,,,
Media Legua,15785.0,183.5,152.950,4.0,2.5,1943.0,620000.0,0.0,1.0,0.0,2.80311,0.0
Mirasierra,13023.0,242.0,205.700,5.0,4.0,2255.0,930000.0,0.0,1.0,1.0,3.69550,0.0
Montecarmelo,12522.0,192.5,167.500,4.0,3.0,2085.0,807500.0,0.0,1.0,2.0,4.61095,6.0
Moscardó,19453.0,196.0,186.000,3.0,2.0,1250.0,320000.0,0.0,1.0,2.0,2.28448,0.0
Niño Jesús,17377.5,207.5,180.100,4.0,3.0,2338.0,890000.0,0.0,1.0,0.0,4.93560,0.0
Nueva España,7011.0,222.0,187.000,4.0,3.0,1931.0,1195000.0,0.0,1.0,0.0,5.36375,0.0
Nuevos Ministerios,10217.0,199.0,170.000,4.0,3.0,2275.0,895000.0,0.0,1.0,0.0,5.00000,0.0
Numancia,16585.0,250.0,212.500,11.0,9.0,1667.0,499998.0,0.0,0.0,3.0,2.08194,6.0
Opañel,5540.0,232.5,200.000,4.5,2.5,1316.5,347500.0,0.0,0.5,2.0,2.23532,0.0
Pacífico,17505.5,181.5,162.725,4.0,2.0,1930.0,645000.0,0.0,0.0,0.0,4.10512,0.0
Palacio,3727.0,196.0,166.600,3.0,2.0,2285.0,895000.0,0.0,0.0,0.0,4.69352,0.0
Palomas,11572.0,252.0,220.000,4.0,3.0,2417.0,890000.0,0.0,1.0,2.0,3.77382,0.0
Palomeras Bajas,16616.0,190.0,180.000,1.0,2.0,1439.0,400000.0,0.0,0.0,0.0,1.98370,0.0
Palomeras sureste,315.0,166.0,101.000,3.0,2.0,1416.0,390000.0,0.0,1.0,2.0,2.07658,0.0
Palos de,917.5,173.5,155.225,2.0,1.5,1948.0,622500.0,0.0,0.0,2.0,3.97500,3.0
Pau de,5429.0,189.0,150.000,3.0,2.0,1779.0,549000.0,0.0,1.0,2.0,3.12054,0.0
Peñagrande,12872.0,371.0,310.250,5.0,4.0,2386.0,890000.0,0.0,1.0,3.0,3.27196,0.0
Pilar,12816.0,220.0,187.000,5.0,3.0,1897.0,600000.0,0.0,0.0,0.0,3.22222,0.0
Pinar del,11511.5,221.0,187.850,4.0,3.0,2415.5,850000.0,0.0,1.0,3.0,2.91533,3.0
Pradolongo,19621.0,176.0,170.500,4.0,3.0,1376.5,375000.0,0.0,1.0,2.0,2.06864,1.5
Prosperidad,6790.0,212.5,175.750,4.0,3.0,2233.0,830000.0,0.0,0.5,0.0,4.25584,0.0
Pueblo Nuevo,8833.0,178.0,168.000,4.0,3.0,1966.0,630000.0,0.0,0.0,1.0,2.57887,0.0
Puerta Bonita,4896.0,180.0,153.000,3.0,2.5,1462.0,410000.0,0.0,1.0,2.0,1.98004,0.0
Puerta del,15153.5,200.0,167.000,4.5,2.0,1549.5,549500.0,0.0,0.5,0.0,2.44362,0.0
Quintana,8723.0,225.0,191.000,4.0,2.0,1897.0,600000.0,0.0,1.0,0.0,2.90058,0.0
Recoletos,1820.0,173.0,144.500,4.0,2.0,1165.0,1290000.0,0.0,0.0,0.0,8.39243,3.0
San Andrés,21352.0,241.0,207.000,4.0,3.0,1621.5,480000.0,0.0,1.0,3.0,1.61718,0.0
San Diego,16162.0,301.0,255.850,5.0,3.0,1576.0,460000.0,0.0,1.0,3.0,2.00779,0.0
San Fermín,19473.0,180.0,160.000,3.0,2.0,1111.0,266000.0,0.0,1.0,1.0,1.91280,0.0
San Isidro,5614.5,270.0,227.250,3.5,2.5,1292.0,337450.0,0.0,0.5,0.0,2.32393,0.5
San Juan,8436.5,237.5,198.225,4.0,3.0,2310.0,950000.0,0.0,1.0,0.0,4.09870,0.0
San Pascual,8600.0,209.0,188.000,4.0,3.0,2234.0,1099000.0,0.0,1.0,1.0,4.01576,0.0
Sanchinarro,11624.5,171.0,140.000,4.0,3.0,2269.5,767050.0,0.0,1.0,0.0,4.45618,0.0
Santa Eugenia,20295.0,169.0,145.000,4.0,2.0,1238.0,315000.0,1.0,1.0,0.0,2.17593,0.0
Sol,3411.0,207.0,175.950,4.0,2.0,2398.0,995000.0,0.0,0.0,0.0,5.39099,0.0
Timón,21.0,276.0,234.600,4.0,3.0,2103.0,690000.0,0.0,1.0,3.0,2.87988,1.0
Trafalgar,10135.0,200.0,170.000,4.0,2.0,2333.0,900000.0,0.0,0.0,0.0,5.64018,0.0
Tres Olivos,12483.0,250.0,212.500,4.0,3.0,1906.0,699000.0,0.0,1.0,3.0,2.64873,0.0
Valdeacederas,18174.0,213.0,181.050,4.0,3.0,1943.0,620000.0,0.0,1.0,3.0,3.16380,0.0
Valdebebas,11663.0,206.5,174.250,4.0,3.0,2159.0,715000.0,0.0,1.0,0.0,3.60713,2.0
Valdebernardo,20739.0,172.0,146.200,4.0,2.0,1574.0,459000.0,0.0,1.0,0.0,2.75000,0.0
Valdemarín,14359.0,232.0,193.800,4.0,4.0,2411.5,965000.0,0.0,1.0,0.0,4.24904,0.0
Valdezarza,14284.5,277.0,236.000,4.0,3.0,2196.5,783000.0,0.0,1.0,3.0,2.95177,0.0
Vallehermoso,9967.0,220.0,187.000,5.0,3.0,2423.0,899000.0,0.0,1.0,0.0,4.54830,0.0
Ventas,8519.0,178.0,150.000,4.0,2.0,1505.0,429000.0,0.0,1.0,0.0,2.68693,3.0
Ventilla-Almenara,18699.5,231.5,191.500,5.0,3.0,2137.0,705000.0,0.0,1.0,0.0,3.31454,0.0
Virgen del,11299.0,209.0,141.000,3.0,3.0,2192.0,730000.0,0.0,1.0,1.0,3.63696,0.0
Vista Alegre,5202.0,178.0,143.000,4.5,2.0,1338.0,357450.0,0.0,0.0,0.0,2.04847,0.0
Zofío,19804.5,172.0,150.000,4.0,2.5,1141.5,277500.0,0.0,0.5,1.0,1.94138,0.0
Águilas,15291.0,190.0,116.000,3.5,2.5,1655.5,495000.0,0.0,1.0,2.5,2.11034,3.5

## Boolean to numerical

In [50]:
casas_limpio["is_new_development"] = casas_limpio["is_new_development"].astype(int)
casas_limpio["is_renewal_needed"] = casas_limpio["is_renewal_needed"].astype(int)
casas_limpio["has_parking"] = casas_limpio["has_parking"].astype(int)
casas_limpio["is_exterior"] = casas_limpio["is_exterior"].astype(int)

In [51]:
casas_limpio.columns

Index(['id', 'title', 'subtitle', 'sq_mt_built', 'sq_mt_useful', 'n_rooms',
       'n_bathrooms', 'floor', 'neighborhood_id', 'rent_price', 'buy_price',
       'house_type_id', 'is_new_development', 'is_renewal_needed',
       'energy_certificate', 'has_parking', 'is_exterior', 'tipo',
       'barrio_pm2', 'barrio', 'distr', 'e_certificate'],
      dtype='object')

In [52]:
columnas = ['sq_mt_built', 'sq_mt_useful', 'n_rooms',
       'n_bathrooms', 'floor', 'is_new_development', 'is_renewal_needed',
        'has_parking', 'is_exterior', 'tipo',
       'barrio_pm2', 'e_certificate', 'rent_price', 'buy_price',]

In [53]:
casas_ml = casas_limpio[columnas]

# Save Test Dataframe
The next step is to keep a portion of the dataframe to test the model later, for which I keep `10%` of it.

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
casas_train, casas_test = train_test_split(casas_ml, test_size=0.1, random_state=666)

In [56]:
casas_train.shape

(14431, 14)

In [57]:
casas_test.shape

(1604, 14)

# Export DataFrames

In [58]:
casas_limpio.to_csv("data/casas_limpio.csv")

In [59]:
casas_train.to_csv("data/Machine_learning/casas_train.csv")

In [60]:
casas_test.to_csv("data/Machine_learning/Test/casas_test.csv")

In [62]:
casas_limpio.columns

Index(['id', 'title', 'subtitle', 'sq_mt_built', 'sq_mt_useful', 'n_rooms',
       'n_bathrooms', 'floor', 'neighborhood_id', 'rent_price', 'buy_price',
       'house_type_id', 'is_new_development', 'is_renewal_needed',
       'energy_certificate', 'has_parking', 'is_exterior', 'tipo',
       'barrio_pm2', 'barrio', 'distr', 'e_certificate'],
      dtype='object')

In [67]:
casas_limpio.groupby("distr").mean()

,id,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,rent_price,buy_price,is_new_development,is_renewal_needed,has_parking,is_exterior,tipo,barrio_pm2,e_certificate
distr,,,,,,,,,,,,,,
Arganzuela,1075.920598,95.486766,80.582451,2.568470,1.585731,1370.684695,380846.334868,0.031070,0.196778,0.275029,0.782509,0.150748,4.084129,1.230150
Barajas,71.052632,119.631579,101.313158,2.736842,2.052632,1482.789474,425494.736842,0.000000,0.000000,0.684211,1.000000,0.315789,3.178492,1.052632
Carabanchel,5212.688044,82.543151,70.596595,2.569279,1.311164,862.646873,191704.143310,0.055424,0.182106,0.215360,0.940618,0.104513,2.181776,0.943785
Centro,3507.364656,107.468443,91.716655,2.485975,1.793829,1663.228612,555679.665498,0.018934,0.164797,0.061010,0.803647,0.097475,5.079100,1.418654
Chamartín,6783.291444,128.755793,109.664929,2.868093,1.971480,1747.701426,635256.923351,0.043672,0.298574,0.336898,0.909091,0.110517,4.957931,1.026738
Chamberí,9825.647701,126.217459,107.638932,3.050663,1.951676,1824.212003,648091.961808,0.051442,0.275136,0.201871,0.755261,0.111458,5.251565,1.375682
Ciudad Lineal,8260.802926,103.407917,88.064329,2.722892,1.617900,1230.574010,366264.578313,0.050775,0.179862,0.324441,0.960413,0.133391,3.151249,1.054217
Fuencarral,12705.216080,124.724874,105.086369,3.003769,1.969849,1549.032663,473798.430905,0.066583,0.141960,0.605528,0.989950,0.141960,3.522947,1.002513
Hortaleza,11474.778791,119.230331,99.008951,2.736602,1.851767,1561.473204,471029.765108,0.196123,0.087799,0.591790,0.989738,0.183580,3.644477,1.327252
Latina,14613.957252,81.357252,70.065115,2.587786,1.276336,907.276336,206344.754198,0.021374,0.200000,0.184733,0.969466,0.073282,2.317072,1.105344
Moncloa,14130.946012,140.819632,119.411350,3.089571,2.152147,1674.482209,604301.294479,0.056442,0.201227,0.446626,0.912883,0.230675,3.981036,1.020859
Moratalaz,13958.538462,92.803846,78.976538,3.038462,1.557692,1022.000000,245960.873077,0.000000,0.292308,0.234615,1.000000,0.073077,2.350416,0.626923
Puente de,15887.282167,78.322799,66.614391,2.457111,1.272009,750.960497,157630.590293,0.025959,0.153499,0.156885,0.944695,0.113995,1.981955,0.978555
Retiro,16899.790531,116.698709,99.747059,2.954089,1.833572,1683.195122,525042.261119,0.031564,0.266858,0.344333,0.822095,0.146341,4.681770,1.015782
Salamanca,2176.500000,118.497050,101.045133,2.737463,1.883481,1819.134218,652770.778761,0.045723,0.224189,0.210914,0.778761,0.131268,5.638382,1.455752
Tetuán,18187.622528,103.865864,88.841273,2.586414,1.651763,1346.949269,401413.297506,0.049011,0.227859,0.275150,0.889940,0.153912,3.734910,0.908856
Usera,18450.079526,90.231810,76.673519,2.714044,1.436548,861.126904,191330.617597,0.006768,0.150592,0.272420,0.959391,0.106599,2.047813,0.795262
Vicálvaro,19793.000000,91.924837,77.083660,2.676471,1.643791,954.683007,219760.238562,0.359477,0.091503,0.575163,0.990196,0.084967,2.259535,1.248366
Villa de,19286.507277,84.081081,70.047713,2.222453,1.449064,921.929314,208837.742204,0.106029,0.066528,0.607069,0.954262,0.139293,2.374613,1.033264
Villaverde,20635.097668,86.537901,72.846793,2.749271,1.418367,781.603499,166911.279883,0.122449,0.109329,0.307580,0.979592,0.083090,1.790001,0.739067

In [68]:
list(casas_limpio.columns)

['id',
 'title',
 'subtitle',
 'sq_mt_built',
 'sq_mt_useful',
 'n_rooms',
 'n_bathrooms',
 'floor',
 'neighborhood_id',
 'rent_price',
 'buy_price',
 'house_type_id',
 'is_new_development',
 'is_renewal_needed',
 'energy_certificate',
 'has_parking',
 'is_exterior',
 'tipo',
 'barrio_pm2',
 'barrio',
 'distr',
 'e_certificate']