<img src="https://media3.giphy.com/media/vISmwpBJUNYzukTnVx/giphy.gif">

<h1> SQL creating database <span class="tocSkip"></span></h1>

In this Jupyter we will see how to create a database in `SQL` from jupyter or from the terminal with `Python`.

# Preliminary steps

## Import the necessary libraries

In [1]:
import os 
import dotenv
import pandas as pd
import sqlalchemy as alch
from getpass import getpass
import requests
import src.limpieza as lm

## Import DataFrame

In [2]:
data = pd.read_csv("data/casas_limpio.csv")

In [3]:
data.drop("Unnamed: 0", axis=1, inplace=True)

In [19]:
data["Barrio_id"] = data.apply(lambda row: f"b_{row['barrio'][0]}{row['barrio'][2]}{row['barrio'][-2]}{row['barrio'][-1]}{row['distr'][0]}{row['distr'][3]}{row['distr'][-1]}{row['neighborhood_id'][34]}", axis = 1)

## Conection

First step is to start SQL server in the terminal and make the connection to the server.

`!sudo /etc/init.d/mysql start`

We also need to run de python file called `sqlapi.py`, in order to set the database in [localhost](http://localhost:5000).

`python3 sqlapi.py`

In [5]:
dotenv.load_dotenv()

password = os.getenv("sql_pass")
dbName = "HP"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [6]:
engine = alch.create_engine(connectionData)
print("me conecté")

me conecté

<img width= 500 src="https://2.bp.blogspot.com/-pFdbGJb1MmI/V3_d7d6s_bI/AAAAAAAAAIw/7U1JypLEDe0AagSkOhSNZHgWUIzufj_TwCLcB/s1600/realtime-data.gif">

# SQL DataBase

## Create de DataBase

In [7]:
engine.execute("""
    DROP DATABASE IF EXISTS Real_Estate;
""")

In [8]:
engine.execute('''
    CREATE DATABASE Real_Estate
    ''')

In [9]:
engine.execute('''
    USE Real_Estate
    ''')

<img width= 500 src="https://cdn.dribbble.com/users/2018568/screenshots/5367836/__.gif">

## Create the different tables

### Create house table

In [10]:
engine.execute("""
    DROP TABLE IF EXISTS house;
""")

In [11]:
engine.execute("""
    CREATE TABLE house (
    house_id INT NOT NULL PRIMARY KEY,
    title VARCHAR(500) NOT NULL,
    subtitle VARCHAR(100) NOT NULL,
    m2_built FLOAT NOT NULL,
    m2_usefull FLOAT ,
    rooms INT NOT NULL,
    bathrooms INT NOT NULL,
    floor INT NOT NULL,
    rent_price FLOAT NOT NULL,
    buy_price FLOAT NOT NULL,
    new_develop INT NOT NULL,
    renewal INT NOT NULL,
    parking INT NOT NULL,
    exterior INT NOT NULL,
    barrio_id VARCHAR (10),
    h_type_id INT,
    cert_id INT 
    );

""")

In [12]:
data.columns

Index(['id', 'title', 'subtitle', 'sq_mt_built', 'sq_mt_useful', 'n_rooms',
       'n_bathrooms', 'floor', 'neighborhood_id', 'rent_price', 'buy_price',
       'house_type_id', 'is_new_development', 'is_renewal_needed',
       'energy_certificate', 'has_parking', 'is_exterior', 'tipo',
       'barrio_pm2', 'barrio', 'distr', 'e_certificate', 'Barrio_id'],
      dtype='object')

In [13]:
for i, row in data.iterrows():
    engine.execute(
        f"""
        INSERT INTO house VALUES
        ({row['id']},
        "{row['title']}",
        "{row['subtitle']}",
        {row['sq_mt_built']},
        {row['sq_mt_useful']},
        {row['n_rooms']},
        {row['n_bathrooms']},
        {row['floor']},
        {row['rent_price']},
        {row['buy_price']},
        {row['is_new_development']},
        {row['is_renewal_needed']},
        {row['has_parking']},
        {row['is_exterior']},
        "{row['Barrio_id']}",
        {row['tipo']},
        {row['e_certificate']}
            
        );
    """)

### Create Neighborhood table

In [22]:
barrio = data.loc[:,["Barrio_id","barrio","distr","barrio_pm2","neighborhood_id"]].groupby("barrio").max()
barrio.reset_index(inplace=True)

In [20]:
engine.execute("""
    DROP TABLE IF EXISTS neighborhood;
""")

In [21]:
engine.execute("""
    CREATE TABLE neighborhood (
    barrio_id VARCHAR (10) NOT NULL PRIMARY KEY,
    barrio VARCHAR (30) NOT NULL,
    district VARCHAR (30) NOT NULL,
    price INT,
    descripcion VARCHAR (500)
     
    );

""")

In [23]:
for i, row in barrio.iterrows():
    engine.execute(
        f"""
        INSERT INTO neighborhood VALUES
        ("{row['Barrio_id']}",
        "{row['barrio']}",
        "{row['distr']}",
        {row['barrio_pm2']*1000},
        "{row['neighborhood_id']}"
        
        );
    """)

### Create house_type table

In [31]:
house_type = data.loc[:,["tipo","house_type_id"]].groupby("house_type_id").max()
house_type.reset_index(inplace=True)

In [35]:
engine.execute("""
    DROP TABLE IF EXISTS house_type;
""")

In [37]:
engine.execute("""
    CREATE TABLE house_type (
    ht_id INT NOT NULL PRIMARY KEY,
    type VARCHAR (50) NOT NULL
     
    );

""")

In [39]:
for i, row in house_type.iterrows():
    engine.execute(
        f"""
        INSERT INTO house_type VALUES
        ({row['tipo']},
        "{row['house_type_id']}"
        
        );
    """)

### Create Energy certificate table

In [41]:
e_cert = data.loc[:,["energy_certificate","e_certificate"]].groupby("e_certificate").max()
e_cert.reset_index(inplace=True)

In [42]:
engine.execute("""
    DROP TABLE IF EXISTS e_cert;
""")

In [43]:
engine.execute("""
    CREATE TABLE e_cert (
    cert_id INT NOT NULL PRIMARY KEY,
    energy_certificate VARCHAR (10) NOT NULL
     
    );

""")

In [44]:
for i, row in e_cert.iterrows():
    engine.execute(
        f"""
        INSERT INTO e_cert VALUES
        ({row['e_certificate']},
        "{row['energy_certificate']}"
        
        );
    """)

## Create conections