<img src="https://media3.giphy.com/media/vISmwpBJUNYzukTnVx/giphy.gif">

<h1> SQL creating database <span class="tocSkip"></span></h1>

In this Jupyter we will see how to create a database in `SQL` from jupyter or from the terminal with `Python`.

# Preliminary steps

## Import the necessary libraries

In [1]:
import os 
import dotenv
import pandas as pd
import numpy as np
import sqlalchemy as alch
from getpass import getpass
import requests
import src.limpieza as lm

## Import DataFrame

In [2]:
data = pd.read_csv("data/casas_limpio.csv")

In [3]:
data.drop("Unnamed: 0", axis=1, inplace=True)

In [4]:
#data["Barrio_id"] = data.apply(lambda row: f"b_{row['barrio'][0]}{row['barrio'][1]}{row['barrio'][-1]}{row['distr'][0]}{row['distr'][3]}{row['distr'][-1]}{row['neighborhood_id'][-33]}", axis = 1)

In [5]:
barrio = data.loc[:,["barrio","distr","barrio_pm2","neighborhood_id"]].groupby("barrio").max()
barrio.reset_index(inplace=True)

In [35]:
data.neighborhood_id.unique()

array(['Neighborhood 135: San Cristóbal (1308.89 €/m2) - District 21: Villaverde',
       'Neighborhood 132: Los Ángeles (1796.68 €/m2) - District 21: Villaverde',
       'Neighborhood 134: San Andrés (1617.18 €/m2) - District 21: Villaverde',
       'Neighborhood 133: Los Rosales (1827.79 €/m2) - District 21: Villaverde',
       'Neighborhood 131: Butarque (2197.8 €/m2) - District 21: Villaverde',
       'Neighborhood 127: Valdebernardo - Valderribas (2750.0 €/m2) - District 19: Vicálvaro',
       'Neighborhood 124: Ambroz (2094.51 €/m2) - District 19: Vicálvaro',
       'Neighborhood 125: Casco Histórico de Vicálvaro (2064.65 €/m2) - District 19: Vicálvaro',
       'Neighborhood 126: El Cañaveral - Los Berrocales (2271.52 €/m2) - District 19: Vicálvaro',
       'Neighborhood 129: Ensanche de Vallecas - La Gavia (2677.28 €/m2) - District 20: Villa de Vallecas',
       'Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas',
       'Neighborhood 130: Santa Eugenia (2175.93 €/m2) - District 20: Villa de Vallecas',
       'Neighborhood 119: Orcasitas (1931.95 €/m2) - District 18: Usera',
       'Neighborhood 121: San Fermín (1912.8 €/m2) - District 18: Usera',
       'Neighborhood 118: Moscardó (2284.48 €/m2) - District 18: Usera',
       'Neighborhood 120: Pradolongo (2068.64 €/m2) - District 18: Usera',
       'Neighborhood 117: Almendrales (2205.31 €/m2) - District 18: Usera',
       'Neighborhood 122: Zofío (1941.38 €/m2) - District 18: Usera',
       'Neighborhood 123: 12 de Octubre-Orcasur (1637.13 €/m2) - District 18: Usera',
       'Neighborhood 114: Cuzco-Castillejos (4347.59 €/m2) - District 17: Tetuán',
       'Neighborhood 113: Cuatro Caminos (4247.49 €/m2) - District 17: Tetuán',
       'Neighborhood 111: Bellas Vistas (3536.07 €/m2) - District 17: Tetuán',
       'Neighborhood 112: Berruguete (3273.56 €/m2) - District 17: Tetuán',
       'Neighborhood 115: Valdeacederas (3163.8 €/m2) - District 17: Tetuán',
       'Neighborhood 116: Ventilla-Almenara (3314.54 €/m2) - District 17: Tetuán',
       'Neighborhood 96: Niño Jesús (4935.6 €/m2) - District 14: Retiro',
       'Neighborhood 93: Ibiza (5492.17 €/m2) - District 14: Retiro',
       'Neighborhood 91: Adelfas (4020.62 €/m2) - District 14: Retiro',
       'Neighborhood 95: Pacífico (4105.12 €/m2) - District 14: Retiro',
       'Neighborhood 94: Jerónimos (6739.32 €/m2) - District 14: Retiro',
       'Neighborhood 92: Estrella (4246.58 €/m2) - District 14: Retiro',
       'Neighborhood 87: Palomeras sureste (2076.58 €/m2) - District 13: Puente de Vallecas',
       'Neighborhood 86: Palomeras Bajas (1983.7 €/m2) - District 13: Puente de Vallecas',
       'Neighborhood 89: San Diego (2007.79 €/m2) - District 13: Puente de Vallecas',
       'Neighborhood 90: Numancia (2081.94 €/m2) - District 13: Puente de Vallecas',
       'Neighborhood 85: Entrevías (1574.36 €/m2) - District 13: Puente de Vallecas',
       'Neighborhood 88: Portazgo (1896.75 €/m2) - District 13: Puente de Vallecas',
       'Neighborhood 72: Aravaca (3600.4 €/m2) - District 11: Moncloa',
       'Neighborhood 73: Argüelles (4807.69 €/m2) - District 11: Moncloa',
       'Neighborhood 77: Valdezarza (2951.77 €/m2) - District 11: Moncloa',
       'Neighborhood 74: Casa de Campo (3630.68 €/m2) - District 11: Moncloa',
       'Neighborhood 75: Ciudad Universitaria (3810.08 €/m2) - District 11: Moncloa',
       'Neighborhood 78: Valdemarín (4249.04 €/m2) - District 11: Moncloa',
       'Neighborhood 81: Fontarrón (2319.44 €/m2) - District 12: Moratalaz',
       'Neighborhood 84: Vinateros (2538.1 €/m2) - District 12: Moratalaz',
       'Neighborhood 82: Marroquina (2928.57 €/m2) - District 12: Moratalaz',
       'Neighborhood 83: Media Legua (2803.11 €/m2) - District 12: Moratalaz',
       'Neighborhood 80: Horcajo (None €/m2) - District 12: Moratalaz',
       'Neighborhood 79: Pavones (None €/m2) - District 12: Moratalaz',
       'Neighborhood 70: Puerta del Ángel (2443.62 €/m2) - District 10: Latina',
       'Neighborhood 67: Aluche (2190.48 €/m2) - District 10: Latina',
       'Neighborhood 69: Lucero (2363.25 €/m2) - District 10: Latina',
       'Neighborhood 71: Los Cármenes (2458.61 €/m2) - District 10: Latina',
       'Neighborhood 66: Águilas (2110.34 €/m2) - District 10: Latina',
       'Neighborhood 68: Campamento (2275.63 €/m2) - District 10: Latina',
       'Neighborhood 65: Cuatro Vientos (None €/m2) - District 10: Latina',
       'Neighborhood 76: El Plantío (2569.96 €/m2) - District 11: Moncloa',
       'Neighborhood 51: Las Tablas (4256.38 €/m2) - District 8: Fuencarral',
       'Neighborhood 52: Montecarmelo (4610.95 €/m2) - District 8: Fuencarral',
       'Neighborhood 50: La Paz (3500.0 €/m2) - District 8: Fuencarral',
       'Neighborhood 54: Pilar (3222.22 €/m2) - District 8: Fuencarral',
       'Neighborhood 49: Fuentelarreina (3371.55 €/m2) - District 8: Fuencarral',
       'Neighborhood 53: Peñagrande (3271.96 €/m2) - District 8: Fuencarral',
       'Neighborhood 55: Tres Olivos - Valverde (2648.73 €/m2) - District 8: Fuencarral',
       'Neighborhood 56: Mirasierra (3695.5 €/m2) - District 8: Fuencarral',
       'Neighborhood 48: Arroyo del Fresno (3718.4 €/m2) - District 8: Fuencarral',
       'Neighborhood 47: El Pardo (None €/m2) - District 8: Fuencarral',
       'Neighborhood 62: Sanchinarro (4456.18 €/m2) - District 9: Hortaleza',
       'Neighborhood 60: Palomas (3773.82 €/m2) - District 9: Hortaleza',
       'Neighborhood 64: Virgen del Cortijo - Manoteras (3636.96 €/m2) - District 9: Hortaleza',
       'Neighborhood 63: Valdebebas - Valdefuentes (3607.13 €/m2) - District 9: Hortaleza',
       'Neighborhood 59: Conde Orgaz-Piovera (4275.46 €/m2) - District 9: Hortaleza',
       'Neighborhood 61: Pinar del Rey (2915.33 €/m2) - District 9: Hortaleza',
       'Neighborhood 58: Canillas (3152.53 €/m2) - District 9: Hortaleza',
       'Neighborhood 57: Apóstol Santiago (2679.63 €/m2) - District 9: Hortaleza',
       'Neighborhood 34: Gaztambide (5000.0 €/m2) - District 6: Chamberí',
       'Neighborhood 37: Nuevos Ministerios-Ríos Rosas (5000.0 €/m2) - District 6: Chamberí',
       'Neighborhood 35: Trafalgar (5640.18 €/m2) - District 6: Chamberí',
       'Neighborhood 32: Almagro (6564.27 €/m2) - District 6: Chamberí',
       'Neighborhood 33: Arapiles (4869.57 €/m2) - District 6: Chamberí',
       'Neighborhood 36: Vallehermoso (4548.3 €/m2) - District 6: Chamberí',
       'Neighborhood 42: Ventas (2686.93 €/m2) - District 7: Ciudad Lineal',
       'Neighborhood 39: Pueblo Nuevo (2578.87 €/m2) - District 7: Ciudad Lineal',
       'Neighborhood 43: Atalaya (None €/m2) - District 7: Ciudad Lineal',
       'Neighborhood 40: Quintana (2900.58 €/m2) - District 7: Ciudad Lineal',
       'Neighborhood 46: San Juan Bautista (4098.7 €/m2) - District 7: Ciudad Lineal',
       'Neighborhood 44: Colina (4677.53 €/m2) - District 7: Ciudad Lineal',
       'Neighborhood 45: Costillares (4235.69 €/m2) - District 7: Ciudad Lineal',
       'Neighborhood 38: Concepción (3341.09 €/m2) - District 7: Ciudad Lineal',
       'Neighborhood 41: San Pascual (4015.76 €/m2) - District 7: Ciudad Lineal',
       'Neighborhood 29: Nueva España (5363.75 €/m2) - District 5: Chamartín',
       'Neighborhood 28: El Viso (6255.45 €/m2) - District 5: Chamartín',
       'Neighborhood 26: Castilla (4354.35 €/m2) - District 5: Chamartín',
       'Neighborhood 31: Bernabéu-Hispanoamérica (5170.22 €/m2) - District 5: Chamartín',
       'Neighborhood 30: Prosperidad (4255.84 €/m2) - District 5: Chamartín',
       'Neighborhood 27: Ciudad Jardín (4572.45 €/m2) - District 5: Chamartín',
       'Neighborhood 22: Lavapiés-Embajadores (4448.3 €/m2) - District 4: Centro',
       'Neighborhood 15: Opañel (2235.32 €/m2) - District 3: Carabanchel',
       'Neighborhood 14: Comillas (2527.59 €/m2) - District 3: Carabanchel',
       'Neighborhood 12: Abrantes (1964.55 €/m2) - District 3: Carabanchel',
       'Neighborhood 19: San Isidro (2323.93 €/m2) - District 3: Carabanchel',
       'Neighborhood 18: Vista Alegre (2048.47 €/m2) - District 3: Carabanchel',
       'Neighborhood 16: Pau de Carabanchel (3120.54 €/m2) - District 3: Carabanchel',
       'Neighborhood 17: Puerta Bonita (1980.04 €/m2) - District 3: Carabanchel',
       'Neighborhood 13: Buena Vista (1886.6 €/m2) - District 3: Carabanchel',
       'Neighborhood 21: Huertas-Cortes (5000.0 €/m2) - District 4: Centro',
       'Neighborhood 23: Malasaña-Universidad (5196.25 €/m2) - District 4: Centro',
       'Neighborhood 20: Chueca-Justicia (6029.36 €/m2) - District 4: Centro',
       'Neighborhood 24: Palacio (4693.52 €/m2) - District 4: Centro',
       'Neighborhood 25: Sol (5390.99 €/m2) - District 4: Centro',
       'Neighborhood 99: Goya (5887.64 €/m2) - District 15: Salamanca',
       'Neighborhood 101: Lista (5681.21 €/m2) - District 15: Salamanca',
       'Neighborhood 100: Guindalera (4367.9 €/m2) - District 15: Salamanca',
       'Neighborhood 97: Castellana (6882.35 €/m2) - District 15: Salamanca',
       'Neighborhood 98: Fuente del Berro (4452.82 €/m2) - District 15: Salamanca',
       'Neighborhood 102: Recoletos (8392.43 €/m2) - District 15: Salamanca',
       'Neighborhood 3: Imperial (4098.59 €/m2) - District 1: Arganzuela',
       'Neighborhood 1: Chopera (3783.78 €/m2) - District 1: Arganzuela',
       'Neighborhood 5: Acacias (4208.0 €/m2) - District 1: Arganzuela',
       'Neighborhood 6: Palos de Moguer (3975.0 €/m2) - District 1: Arganzuela',
       'Neighborhood 4: Legazpi (4486.93 €/m2) - District 1: Arganzuela',
       'Neighborhood 2: Delicias (3972.6 €/m2) - District 1: Arganzuela',
       'Neighborhood 8: Alameda de Osuna (3113.42 €/m2) - District 2: Barajas',
       'Neighborhood 10: Casco Histórico de Barajas (3100.87 €/m2) - District 2: Barajas',
       'Neighborhood 9: Campo de las Naciones-Corralejos (3417.44 €/m2) - District 2: Barajas',
       'Neighborhood 11: Timón (2879.88 €/m2) - District 2: Barajas'],
      dtype=object)

In [37]:
desc = list(barrio.neighborhood_id.unique())

barid = []
for i in range(len(desc)):
    valor = f"n_{i}"
    barid.append(valor)

d_bar = dict(zip(desc,barid))
d_bar["Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas"] = "n_125"
d_bar

In [6]:
data["Barrio_id"] = data.neighborhood_id.map(d_bar)

In [36]:
data[data["barrio"] == "Casco Histórico"].value_counts()

id     title                                             subtitle                             sq_mt_built  sq_mt_useful  n_rooms  n_bathrooms  floor  neighborhood_id                                                                               rent_price  buy_price  house_type_id        is_new_development  is_renewal_needed  energy_certificate  has_parking  is_exterior  tipo  barrio_pm2  barrio           distr     e_certificate  Barrio_id
452    Piso en venta en calle del Congosto               Casco Histórico de Vallecas, Madrid  70.0         59.5          3        1.0          2.0    Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas  743         149900     HouseType 1: Pisos   0                   0                  en trámite          0            1            0.0   1.956       Casco Histórico  Villa de  0              n_24         1
20237  Piso en venta en Casco Histórico de Vallecas      Villa de Vallecas, Madrid            60.0         50.0          2        1.0          0.0    Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas  448         80250      HouseType 1: Pisos   0                   1                  inmueble exento     0            1            0.0   1.956       Casco Histórico  Villa de  0              n_24         1
20243  Piso en venta en Casco Histórico de Vallecas      Villa de Vallecas, Madrid            60.0         50.0          2        1.0          3.0    Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas  600         114000     HouseType 1: Pisos   0                   1                  en trámite          0            1            0.0   1.956       Casco Histórico  Villa de  0              n_24         1
20244  Ático en venta en Casco Histórico de Vallecas     Villa de Vallecas, Madrid            130.0        80.0          3        2.0          4.0    Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas  1169        288000     HouseType 5: Áticos  0                   0                  E                   1            1            2.0   1.956       Casco Histórico  Villa de  3              n_24         1
20264  Piso en venta en calle Cabana                     Casco Histórico de Vallecas, Madrid  56.0         47.6          2        1.0          0.0    Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas  766         156000     HouseType 1: Pisos   0                   0                  en trámite          0            1            0.0   1.956       Casco Histórico  Villa de  0              n_24         1
                                                                                                                                                                                                                                                                                                                                                                                                                                                             ..
20107  Piso en venta en calle del Puerto de Porzuna, 25  Casco Histórico de Vallecas, Madrid  85.0         80.0          2        1.0          2.0    Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas  884         190000     HouseType 1: Pisos   0                   0                  en trámite          0            1            0.0   1.956       Casco Histórico  Villa de  0              n_24         1
20111  Piso en venta en calle Paso de Villamanrique      Casco Histórico de Vallecas, Madrid  65.0         60.0          2        1.0          2.0    Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas  740         149000     HouseType 1: Pisos   0                   0                  no indicado         0            1            0.0   1.956       Casco Histórico  Villa de  0              n_24         1
20115  Piso en venta en Casco Histórico de Vallecas      Villa de Vallecas, Madrid            70.0         59.5          3        1.0          1.0    Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas  553         103000     HouseType 1: Pisos   0                   0                  en trámite          0            1            0.0   1.956       Casco Histórico  Villa de  0              n_24         1
20121  Piso en venta en camino de la Suerte              Casco Histórico de Vallecas, Madrid  120.0        102.0         4        1.0          1.0    Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas  713         142000     HouseType 1: Pisos   0                   1                  F                   0            1            0.0   1.956       Casco Histórico  Villa de  2              n_24         1
20467  Piso en venta en calle de Sierra Gádor            Casco Histórico de Vallecas, Madrid  90.0         76.5          3        2.0          1.0    Neighborhood 128: Casco Histórico de Vallecas (1956.0 €/m2) - District 20: Villa de Vallecas  910         198000     HouseType 1: Pisos   0                   0                  en trámite          0            1            0.0   1.956       Casco Histórico  Villa de  0              n_24         1
Length: 165, dtype: int64

## Conection

First step is to start SQL server in the terminal and make the connection to the server.

`!sudo /etc/init.d/mysql start`

We also need to run de python file called `sqlapi.py`, in order to set the database in [localhost](http://localhost:5000).

`python3 sqlapi.py`

In [7]:
dotenv.load_dotenv()

password = os.getenv("sql_pass")
dbName = "HP"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [8]:
engine = alch.create_engine(connectionData)
print("me conecté")

me conecté

<img width= 500 src="https://2.bp.blogspot.com/-pFdbGJb1MmI/V3_d7d6s_bI/AAAAAAAAAIw/7U1JypLEDe0AagSkOhSNZHgWUIzufj_TwCLcB/s1600/realtime-data.gif">

# SQL DataBase

## Create de DataBase

In [9]:
engine.execute("""
    DROP DATABASE IF EXISTS Real_Estate;
""")

In [10]:
engine.execute('''
    CREATE DATABASE Real_Estate
    ''')

In [11]:
engine.execute('''
    USE Real_Estate
    ''')

<img width= 500 src="https://cdn.dribbble.com/users/2018568/screenshots/5367836/__.gif">

## Create the different tables

### Create house table

In [12]:
engine.execute("""
    DROP TABLE IF EXISTS house;
""")

In [13]:
engine.execute("""
    CREATE TABLE house (
    house_id INT NOT NULL PRIMARY KEY,
    title VARCHAR(500) NOT NULL,
    subtitle VARCHAR(100) NOT NULL,
    m2_built FLOAT NOT NULL,
    m2_usefull FLOAT ,
    rooms INT NOT NULL,
    bathrooms INT NOT NULL,
    floor INT NOT NULL,
    rent_price FLOAT NOT NULL,
    buy_price FLOAT NOT NULL,
    new_develop INT NOT NULL,
    renewal INT NOT NULL,
    parking INT NOT NULL,
    exterior INT NOT NULL,
    nhood_id VARCHAR (10),
    ht_id INT,
    cert_id INT 
    );

""")

In [14]:
data.columns

Index(['id', 'title', 'subtitle', 'sq_mt_built', 'sq_mt_useful', 'n_rooms',
       'n_bathrooms', 'floor', 'neighborhood_id', 'rent_price', 'buy_price',
       'house_type_id', 'is_new_development', 'is_renewal_needed',
       'energy_certificate', 'has_parking', 'is_exterior', 'tipo',
       'barrio_pm2', 'barrio', 'distr', 'e_certificate', 'Barrio_id'],
      dtype='object')

In [15]:
for i, row in data.iterrows():
    engine.execute(
        f"""
        INSERT INTO house VALUES
        ({row['id']},
        "{row['title']}",
        "{row['subtitle']}",
        {row['sq_mt_built']},
        {row['sq_mt_useful']},
        {row['n_rooms']},
        {row['n_bathrooms']},
        {row['floor']},
        {row['rent_price']},
        {row['buy_price']},
        {row['is_new_development']},
        {row['is_renewal_needed']},
        {row['has_parking']},
        {row['is_exterior']},
        "{row['Barrio_id']}",
        {row['tipo']},
        {row['e_certificate']}
            
        );
    """)

### Create Neighborhood table

In [16]:
barrio = data.loc[:,["Barrio_id","barrio","distr","barrio_pm2","neighborhood_id"]].groupby("barrio").max()
barrio.reset_index(inplace=True)

ValueError: Wrong number of items passed 2, placement implies 3

In [ ]:
engine.execute("""
    DROP TABLE IF EXISTS nhood;
""")

In [ ]:
engine.execute("""
    CREATE TABLE nhood (
    nhood_id VARCHAR (10) NOT NULL PRIMARY KEY,
    barrio VARCHAR (30) NOT NULL,
    district VARCHAR (30) NOT NULL,
    price INT,
    descripcion VARCHAR (500)
     
    );

""")

In [ ]:
for i, row in barrio.iterrows():
    engine.execute(
        f"""
        INSERT INTO nhood VALUES
        ("{row['Barrio_id']}",
        "{row['barrio']}",
        "{row['distr']}",
        {row['barrio_pm2']*1000},
        "{row['neighborhood_id']}"
        
        );
    """)

### Create house_type table

In [ ]:
house_type = data.loc[:,["tipo","house_type_id"]].groupby("house_type_id").max()
house_type.reset_index(inplace=True)

In [ ]:
engine.execute("""
    DROP TABLE IF EXISTS house_type;
""")

In [ ]:
engine.execute("""
    CREATE TABLE house_type (
    ht_id INT NOT NULL PRIMARY KEY,
    type VARCHAR (50) NOT NULL
     
    );

""")

In [ ]:
for i, row in house_type.iterrows():
    engine.execute(
        f"""
        INSERT INTO house_type VALUES
        ({row['tipo']},
        "{row['house_type_id']}"
        
        );
    """)

### Create Energy certificate table

In [ ]:
e_cert = data.loc[:,["energy_certificate","e_certificate"]].groupby("e_certificate").max()
e_cert.reset_index(inplace=True)

In [ ]:
engine.execute("""
    DROP TABLE IF EXISTS e_cert;
""")

In [ ]:
engine.execute("""
    CREATE TABLE e_cert (
    cert_id INT NOT NULL PRIMARY KEY,
    energy_certificate VARCHAR (15) NOT NULL
     
    );

""")

In [ ]:
for i, row in e_cert.iterrows():
    engine.execute(
        f"""
        INSERT INTO e_cert VALUES
        ({row['e_certificate']},
        "{row['energy_certificate']}"
        
        );
    """)

## Create conections

In [ ]:
engine.execute("""
    ALTER TABLE house
    ADD FOREIGN KEY(ht_id)
    REFERENCES house_type(ht_id)
    ;

""")

In [ ]:
engine.execute("""
    ALTER TABLE house
    ADD FOREIGN KEY(cert_id)
    REFERENCES e_cert(cert_id)
    ;

""")

In [ ]:
engine.execute("""
    ALTER TABLE house
    ADD FOREIGN KEY(nhood_id)
    REFERENCES nhood(nhood_id)
    ;

""")

# Queries

## Get

## Post