<img src="https://media3.giphy.com/media/vISmwpBJUNYzukTnVx/giphy.gif">

<h1> SQL creating database <span class="tocSkip"></span></h1>

In this Jupyter we will see how to create a database in `SQL` from jupyter or from the terminal with `Python`.

# Preliminary steps

## Import the necessary libraries

In [1]:
import os 
import dotenv
import pandas as pd
import numpy as np
import sqlalchemy as alch
from getpass import getpass
import requests
import src.limpieza as lm

## Import DataFrame

In [2]:
data = pd.read_csv("data/casas_limpio.csv")

In [3]:
data.drop("Unnamed: 0", axis=1, inplace=True)

In [4]:
#data["Barrio_id"] = data.apply(lambda row: f"b_{row['barrio'][0]}{row['barrio'][1]}{row['barrio'][-1]}{row['distr'][0]}{row['distr'][3]}{row['distr'][-1]}{row['neighborhood_id'][-33]}", axis = 1)

In [5]:
desc = list(data.neighborhood_id.unique())

barid = []
for i in range(len(desc)):
    valor = f"n_{i}"
    barid.append(valor)

d_bar = dict(zip(desc,barid))

In [6]:
data["Barrio_id"] = data.neighborhood_id.map(d_bar)

## Conection

First step is to start SQL server in the terminal and make the connection to the server.

`!sudo /etc/init.d/mysql start`

We also need to run de python file called `sqlapi.py`, in order to set the database in [localhost](http://localhost:5000).

`python3 sqlapi.py`

In [7]:
dotenv.load_dotenv()

password = os.getenv("sql_pass")
dbName = "HP"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [8]:
engine = alch.create_engine(connectionData)
print("me conecté")

me conecté

<img width= 500 src="https://2.bp.blogspot.com/-pFdbGJb1MmI/V3_d7d6s_bI/AAAAAAAAAIw/7U1JypLEDe0AagSkOhSNZHgWUIzufj_TwCLcB/s1600/realtime-data.gif">

# SQL DataBase

## Create de DataBase

In [9]:
engine.execute("""
    DROP DATABASE IF EXISTS Real_Estate;
""")

In [10]:
engine.execute('''
    CREATE DATABASE Real_Estate
    ''')

In [11]:
engine.execute('''
    USE Real_Estate
    ''')

<img width= 500 src="https://cdn.dribbble.com/users/2018568/screenshots/5367836/__.gif">

## Create the different tables

### Create house table

In [12]:
engine.execute("""
    DROP TABLE IF EXISTS house;
""")

In [13]:
engine.execute("""
    CREATE TABLE house (
    house_id INT NOT NULL PRIMARY KEY,
    title VARCHAR(500) NOT NULL,
    subtitle VARCHAR(100) NOT NULL,
    m2_built FLOAT NOT NULL,
    m2_usefull FLOAT ,
    rooms INT NOT NULL,
    bathrooms INT NOT NULL,
    floor INT NOT NULL,
    rent_price FLOAT NOT NULL,
    buy_price FLOAT NOT NULL,
    new_develop INT NOT NULL,
    renewal INT NOT NULL,
    parking INT NOT NULL,
    exterior INT NOT NULL,
    nh_id VARCHAR (10),
    ht_id INT,
    cert_id INT 
    );

""")

In [14]:
data.columns

Index(['id', 'title', 'subtitle', 'sq_mt_built', 'sq_mt_useful', 'n_rooms',
       'n_bathrooms', 'floor', 'neighborhood_id', 'rent_price', 'buy_price',
       'house_type_id', 'is_new_development', 'is_renewal_needed',
       'energy_certificate', 'has_parking', 'is_exterior', 'tipo',
       'barrio_pm2', 'barrio', 'distr', 'e_certificate', 'Barrio_id'],
      dtype='object')

In [15]:
for i, row in data.iterrows():
    engine.execute(
        f"""
        INSERT INTO house VALUES
        ({row['id']},
        "{row['title']}",
        "{row['subtitle']}",
        {row['sq_mt_built']},
        {row['sq_mt_useful']},
        {row['n_rooms']},
        {row['n_bathrooms']},
        {row['floor']},
        {row['rent_price']},
        {row['buy_price']},
        {row['is_new_development']},
        {row['is_renewal_needed']},
        {row['has_parking']},
        {row['is_exterior']},
        "{row['Barrio_id']}",
        {row['tipo']},
        {row['e_certificate']}
            
        );
    """)

### Create Neighborhood table

In [16]:
barrio = data.loc[:,["Barrio_id","barrio","distr","barrio_pm2","neighborhood_id"]].groupby("barrio").max()
barrio.reset_index(inplace=True)

In [17]:
engine.execute("""
    DROP TABLE IF EXISTS nhood;
""")

In [18]:
engine.execute("""
    CREATE TABLE nhood (
    nh_id VARCHAR (10) NOT NULL PRIMARY KEY,
    barrio VARCHAR (30) NOT NULL,
    district VARCHAR (30) NOT NULL,
    price INT,
    descripcion VARCHAR (500)
     
    );

""")

In [19]:
for i, row in barrio.iterrows():
    engine.execute(
        f"""
        INSERT INTO nhood VALUES
        ("{row['Barrio_id']}",
        "{row['barrio']}",
        "{row['distr']}",
        {row['barrio_pm2']*1000},
        "{row['neighborhood_id']}"
        
        );
    """)

### Create house_type table

In [20]:
house_type = data.loc[:,["tipo","house_type_id"]].groupby("house_type_id").max()
house_type.reset_index(inplace=True)

In [21]:
engine.execute("""
    DROP TABLE IF EXISTS house_type;
""")

In [22]:
engine.execute("""
    CREATE TABLE house_type (
    ht_id INT NOT NULL PRIMARY KEY,
    type VARCHAR (50) NOT NULL
     
    );

""")

In [23]:
for i, row in house_type.iterrows():
    engine.execute(
        f"""
        INSERT INTO house_type VALUES
        ({row['tipo']},
        "{row['house_type_id']}"
        
        );
    """)

### Create Energy certificate table

In [24]:
e_cert = data.loc[:,["energy_certificate","e_certificate"]].groupby("e_certificate").max()
e_cert.reset_index(inplace=True)

In [25]:
engine.execute("""
    DROP TABLE IF EXISTS e_cert;
""")

In [26]:
engine.execute("""
    CREATE TABLE e_cert (
    cert_id INT NOT NULL PRIMARY KEY,
    energy_certificate VARCHAR (15) NOT NULL
     
    );

""")

In [27]:
for i, row in e_cert.iterrows():
    engine.execute(
        f"""
        INSERT INTO e_cert VALUES
        ({row['e_certificate']},
        "{row['energy_certificate']}"
        
        );
    """)

## Create conections

In [28]:
engine.execute("""
    ALTER TABLE house
    ADD FOREIGN KEY(ht_id)
    REFERENCES house_type(ht_id)
    ;

""")

In [29]:
engine.execute("""
    ALTER TABLE house
    ADD FOREIGN KEY(cert_id)
    REFERENCES e_cert(cert_id)
    ;

""")

In [34]:
engine.execute("""
    ALTER TABLE house
    ADD FOREIGN KEY(nh_id)
    REFERENCES nhood(nh_id)
    ;

""")

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`Real_Estate`.`#sql-34a_14`, CONSTRAINT `house_ibfk_3` FOREIGN KEY (`nh_id`) REFERENCES `nhood` (`nh_id`))')
[SQL:
    ALTER TABLE house
    ADD FOREIGN KEY(nh_id)
    REFERENCES nhood(nh_id)
    ;

]
(Background on this error at: http://sqlalche.me/e/14/gkpj)


<img width= 500 src="https://i.gifer.com/OyH3.gif">

# Queries

Using the method `GET`, we can make the queries and with `Pandas` we can create a DataFrame.

After checking this queries are correct, we write our functions in the `sqlapi.py` file, a python3 executable file that help us to make `APIs` using the web browser.

## Get

In [35]:
df = pd.read_sql_query(
"""
SELECT 'id', title, subtitle, m2_built, m2_usefull, rooms, bathrooms, floor, descripcion, rent_price, buy_price, new_develop, renewal, energy_certificate, parking, exterior, type, price, barrio, district, e.cert_id
FROM house AS h
LEFT JOIN house_type AS ht
ON h.ht_id = ht.ht_id
LEFT JOIN e_cert AS e
ON h.cert_id = e.cert_id
LEFT JOIN nhood AS n
ON h.nh_id = n.nh_id
WHERE barrio = "Sol"
""", engine)

In [37]:
df.head(3)

,id,title,subtitle,m2_built,m2_usefull,rooms,bathrooms,floor,descripcion,rent_price,...,new_develop,renewal,energy_certificate,parking,exterior,type,price,barrio,district,cert_id
0,id,Piso en venta en calle de Cádiz,"Sol, Madrid",78.0,66.30,1,1,4,Neighborhood 25: Sol (5390.99 €/m2) - District...,1474.0,...,0,0,F,0,1,HouseType 1: Pisos,5391,Sol,Centro,2
1,id,Piso en venta en calle del Caballero de Gracia,"Sol, Madrid",139.0,118.15,2,2,3,Neighborhood 25: Sol (5390.99 €/m2) - District...,2324.0,...,0,0,D,0,1,HouseType 1: Pisos,5391,Sol,Centro,4
2,id,Piso en venta en calle de las Hileras,"Sol, Madrid",135.0,114.75,3,2,1,Neighborhood 25: Sol (5390.99 €/m2) - District...,1781.0,...,0,0,D,0,0,HouseType 1: Pisos,5391,Sol,Centro,4

## Post

In [ ]:
post = engine.execute(
    f"""
    INSERT INTO house VALUES
    ({row['id']},
    "{row['title']}",
    "{row['subtitle']}",
    {row['sq_mt_built']},
    {row['sq_mt_useful']},
    {row['n_rooms']},
    {row['n_bathrooms']},
    {row['floor']},
    {row['rent_price']},
    {row['buy_price']},
    {row['is_new_development']},
    {row['is_renewal_needed']},
    {row['has_parking']},
    {row['is_exterior']},
    "{row['Barrio_id']}",
    {row['tipo']},
    {row['e_certificate']}

    );
""")